<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Reading Leaderboard API Readers" stopProcessing="true">
          <match url="^api/readers(/.*)?$" />
          <action type="Rewrite" url="api/readers.php" />
        </rule>
        <rule name="Reading Leaderboard API Server Info" stopProcessing="true">
          <match url="^api/server-info$" />
          <action type="Rewrite" url="api/readers.php" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="data" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-store" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
